# ==========================================
# ENVIRONMENT VARIABLES TEMPLATE (BACKEND)
# ==========================================

# Konfigurasi Server FastAPI
APP_ENV=development
APP_PORT=8000
APP_HOST=0.0.0.0

# Kredensial Akun (Opsional jika login manual via session)
# X_USERNAME=
# X_PASSWORD=
# THREADS_USERNAME=
# THREADS_PASSWORD=

# Path Konfigurasi
MODEL_PATH=saved_models/indobert_sentiment
KAMUS_ALAY_PATH=storage/dictionaries/kamusalay.csv
